@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@-webkit-keyframes slide-in-fwd-top {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(-800px);
    transform: translateZ(-1400px) translateY(-800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-top {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(-800px);
    transform: translateZ(-1400px) translateY(-800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background: #ffffff;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

.container_top {
  width: 1600px;
  margin: 0 auto;
}

.container_bottom {
  width: 1140px;
  margin: 0 auto;
}

.banner {
  background-color: #222222;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1129px;
}

.header_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__btns:hover {
  transform: scale(1.1);
}

.header__btns:active img {
  filter: brightness(50%);
}

.header_navigation .slide__menu {
  display: flex;
}

.right_side {
  width: 158.996px;
  height: 29px;
}
.left_side {
  width: 111px;
  height: 38px;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

summary::before {
  content: url("./img/header_menu_button.svg");
}

details[open] > summary::before {
  content: url("./img/header_menu_button.svg");
}

details[open] {
  animation: slide-in-fwd-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.slide__menu {
  position: absolute;
  top: 52px;
  right: -363px;
  z-index: 1;
  transition: all 0.6s;
  width: 232px;
  background: #ffffff;
  box-shadow: 6px 4px 35px rgb(0, 0, 0, 0.21);
  padding: 32px;
  box-sizing: border-box;
}

.slide__menu_heading {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-bottom: 24px;
}

.slide__menu_link {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
}

.slide__menu_link:hover {
  color: #f16d7f;
}

.slide__menu_title {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
}

.slide__menu_list {
  list-style-type: none;
  padding-left: 21px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-top: 12px;
}

.slide__menu__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 24px;
}

.background {
  display: flex;
  height: 764px;
  background-color: #f1e4e6;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 405px;
  margin-top: 290px;
  margin-bottom: 381px;
  margin-right: 331px;
}
.item h1 {
  color: #222;
  font-family: Lato;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.item_text {
  margin-left: 16px;
}

.title_second_row_black {
  color: #222;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.title_second_row_pink {
  color: #f16d7f;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.offer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 30px;
  margin-top: 65px;
}

.four {
  grid-column: 1/4;
}

.card {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #211616;
  opacity: 0.7;
}

.card_text {
  position: absolute;
  text-align: center;
}

.card_text a:hover {
  font-size: 27px;
  transition: 0.5s;
  animation: shadow-drop-2-center 0.4s linear both;
}

.card_tex_pink:active {
  color: rgb(232, 180, 84);
}

.card_tex_white {
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card_tex_pink {
  color: #f16d7f;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.products {
  margin-top: 96px;
  margin-bottom: 60px;
}

.products_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products_header h2 {
  color: #222;
  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.products_header p {
  color: #9f9f9f;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.products_main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  margin-top: 47px;
}

.products_add_link {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.products_card {
  display: flex;
  position: relative;
  background-color: #f8f8f8;
  flex-direction: column;
}

.products_card img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.products_card h3 {
  color: #000;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 12.65px;
}

.products_main p {
  color: #5d5d5d;
  max-width: 360px;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 18px;
}

.products_card h4 {
  color: #f16d7f;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}
.products_card:hover img {
  filter: brightness(0.5);
  transition: all 0.3s;
}

.products_card:hover .products__add {
  display: flex;
  animation: scale-up-center 0.4s linear both;
}

.products__add {
  position: absolute;
  border: #fff solid 1px;
  width: 139px;
  height: 44px;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 11px;
  color: #ffffff;
  transition: all 0.3s;
}

.products__add:hover {
  box-shadow: 0 0 5px #fff;
}

.products__add:hover svg path {
  fill: #f16d7f;
}
.products__add:active {
  box-shadow: 0 0 5px rgb(119, 218, 110);
  fill: rgb(119, 218, 110);
  background-color: rgb(119, 218, 110);
  transition: 0.3s;
}

.products_footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
}

.btn {
  color: #f26376;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  padding: 14px 39px 15px 39px;
  background: #fff;
  border: 1px solid #f16d7f;
  transition: 0.3s;
}

.btn:hover {
  border: 1px solid #fff;
  color: #fff;
  background-color: #f26376;
  transition: all 0.2s;
}

.btn:active {
  background: rgb(232, 180, 84);
  border: 1px solid rgb(232, 180, 84);
}

.feature article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer_img_one {
  margin-top: 103px;
  margin-bottom: 28.07px;
}
.footer_img_two {
  margin-top: 104px;
  margin-bottom: 19.07px;
}
.footer_img_three {
  margin-top: 103px;
  margin-bottom: 25.06px;
}

.feature {
  background-color: #222224;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.feature article {
  max-width: 360px;
}

.feature article h4 {
  color: #fbfbfb;
  font-family: Lato;
  font-size: 19.96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}
.feature article p {
  color: #fbfbfb;
  text-align: center;
  font-family: Lato;
  font-size: 13.972px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 104px;
}
.subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 87px 230px 126px 228px;
  background: url(./img/footer_subscribe_background_image.svg),
    lightgray 0px -169px / 100% 246.875% no-repeat;
}

.info {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.info p {
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subscribe_form .title {
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 167.2%;
}
.subscribe_form .subtitle {
  color: #222224;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.2%;
  margin-bottom: 32px;
}

.subscribe_form input {
  max-width: 256px;
  padding: 16px 64px 16px 22px;
  background-color: #e1e1e1;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  opacity: 0.9;
  border: none;
  outline: none;
  margin: 0;
}
.subtitle {
  margin-bottom: 32px;
}
.subscribe_form a {
  max-width: 100px;
  padding: 15px 15px 15px 18px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #f16d7f;
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: 0.3s;
}
.subscribe_form a:hover {
  background-color: #f1afaf;
  color: #c73649;
}

.subscribe_form a:active {
  color: #ffffff;
  box-shadow: 0 0 5px rgb(119, 218, 110);
  fill: rgb(119, 218, 110);
  background-color: rgb(119, 218, 110);
  transition: 0.3s;
}

.copyright {
  background-color: #222224;
  display: flex;
  justify-content: center;
  gap: 655px;
}
.footer_copyright_left_side h2 {
  color: #fbfbfb;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 30px;
  margin-bottom: 30px;
}
.footer_copyright_right_side {
  display: flex;
  justify-content: center;
  gap: 7.29px;
  margin-top: 24px;
  margin-bottom: 23px;
}

.footer_copyright_right_side a {
  width: 32px;
  height: 32px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.footer_copyright_right_side a:hover {
  background-color: #f16d7f;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container_top {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .container_bottom {
    width: 100%;
  }

  .right_side {
    margin-right: 32px;
  }
  .left_side {
    margin-left: 32px;
  }

  .item {
    margin-top: 138.58px;
    margin-bottom: 151.47px;
    margin-right: 33.57px;
  }

  .background {
    height: 367px;
  }

  .photo {
    min-width: 48%;
  }

  .item_text h1 {
    font-size: 44px;
    min-width: 283px;
  }

  .title_second_row_black {
    font-size: 24px;
  }
  .title_second_row_pink {
    font-size: 24px;
  }

  .offer {
    gap: 20px;
    padding-left: 2%;
    padding-right: 2%;
  }

  .offer img {
    max-width: 100%;
  }

  .products {
    margin-top: 109.92px;
    margin-bottom: 70.52px;
  }

  .products_main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 16px;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 72.74px;
  }
  .feature article p {
    margin-bottom: 0px;
  }
  .feature article img {
    margin-top: 48px;
  }

  .feature {
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
  .feature article:last-child p {
    margin-bottom: 48px;
  }

  .subscribe {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 48px;
    padding-left: 14%;
    padding-right: 14%;
    background-position: -230px center;
    background-size: cover;
    padding-top: 53px;
    padding-bottom: 140px;
  }
  .subscribe_form .subtitle {
    margin-bottom: 27px;
  }
  .copyright {
    padding-left: 4%;
    padding-right: 4%;
    gap: 305px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .container_top {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .container_bottom {
    width: 100%;
  }

  .right_side {
    justify-content: right;
    margin-right: 16px;
  }
  .right_side .profile_button {
    display: none;
  }
  .right_side .shopping_cart {
    display: none;
  }

  .left_side {
    margin-left: 16px;
  }

  .item {
    justify-content: center;
    margin-top: 138.58px;
    margin-bottom: 151.47px;
    margin-right: 33.57px;
  }
  .background .photo {
    display: none;
  }

  .background {
    justify-content: center;
    height: 363px;
  }

  .photo {
    min-width: 48%;
  }

  .item_text h1 {
    font-size: 38px;
    min-width: 236px;
  }

  .title_second_row_black {
    font-size: 20px;
  }
  .title_second_row_pink {
    font-size: 20px;
  }

  .offer {
    grid-template-columns: 1fr;
    gap: 32px;
    padding-left: 2%;
    padding-right: 2%;
  }
  .four img {
    display: none;
  }
  .four {
    background-image: url("./img/main_offer_card_accesories.svg");
    background-position: center center;
    background-size: cover;
    width: 100%;
    grid-column: auto;
    height: 111px;
    object-fit: cover;
  }

  .offer img {
    max-width: 100%;
  }
  .products {
    justify-items: center;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 64px;
    margin-bottom: 85px;
  }

  .products_main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 72.74px;
  }

  .products_footer {
    margin-top: 40.61px;
  }

  .feature article p {
    margin-bottom: 0px;
  }

  .feature article:first-child img {
    margin-top: 48px;
  }
  .feature article img {
    margin-top: 46px;
  }

  .feature {
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
  .feature article:last-child p {
    margin-bottom: 61px;
  }

  .feature article {
    width: 93%;
  }
  .subscribe {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 59px;
    padding-left: 2%;
    padding-right: 2%;
    background-position: -500px;
    background-size: cover;
    padding-top: 53px;
    padding-bottom: 140px;
  }
  .info p {
    font-size: 18px;
  }
  .subscribe_form .subtitle {
    font-size: 14px;
  }
  .subscribe_form {
    text-align: center;
  }
  .subscribe_form input {
    padding: 16px 30px 16px 21px;
  }
  .copyright {
    flex-direction: column-reverse;
    gap: 40px;
    /* padding-top: 43px;
    padding-bottom: 9px; */
    padding-left: 10%;
    padding-right: 10%;
  }
  .footer_copyright_right_side {
    margin-top: 43px;
    margin-bottom: 0px;
  }

  .footer_copyright_left_side h2 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
